body{
    margin: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

section{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: center;
    margin-top: 30px;


}
.menu{
    display: none;
}

.menu-bar{
    
    display: none;

}
li{
    font-family: system-ui;
    color: white;
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    top: 0%;
}


.icon{
    display: inline-block;
    margin-left: 105px;
}

.image{
    margin-top: -20px;
    width: 100px;
    height: 20px;
    display: inline-block;
    margin-right: 180px;
}

.title span {
    -webkit-text-stroke-color: #fff;
    position: absolute;
    font-size: 170px;
    font-weight: 900;
    opacity: .1;
    font-family: sans-serif;
    -webkit-text-stroke-width: 1px;
    left: 18%
}

.text{
    color: white;
    font-size: 3em;
    position: relative;
    /* left: -49%; */
    right: 0%;
    font-family: sans-serif;
}

    .title{
        position: absolute;
    top: 20px;
    top: 30%;
    left: 23%;
    }

    p{
        color: rgba(255, 255, 255, 0.726);
        font-size: 18px; 
        font-weight: lighter;
        font-family: sans-serif;
        display: block;
        margin-top: 40px;
        line-height: 33px;
        width: 600px;
    }


    .box{
        display: flex;
        margin-top: 100px;  
        margin-left: -154px;
    }
    
    
    .square{
        width: 337px;
    height: 209px;
        border: 1px solid #9e9e9e66;
        margin: 20px;
        background-color:black;
        cursor: pointer;
    }
    .square:hover{
        box-shadow: 0 0 22px rgb(255 255 255 / 38%);
        transform: translateY(-9px);
    
    }
    
    .square i{
        font-size: 26px;
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        border-radius: 50%;
        background:#1b1b1bd4;
        color: #0a27c9e0;
        margin: 20px;
       
    }
   .square i:hover{
        background-color: #474fee;
        color: white;
    }
    
    .square h1{
        color: white;
        margin: 20px;
        
        font-family: sans-serif;
    
    }
    
    .square p{
        margin-top: -8px;
        margin-left: 20px;
        font-size: 1em;
        font-family: sans-serif;
        color: rgba(255, 255, 255, 0.726);
    }
    
    
    h2{
        margin-left: -39px;
        font-family: sans-serif;
        color: white;
        font-size: 28px;
        text-decoration: 7px underline;
        text-decoration-color: blue;
    }
    
    
    .detail{
        margin-left: -131px;
        margin-top: 50px;
    }
    #name:focus{
         border-bottom: 1px solid blue;
         border-top: none;
         border-right: none;
         border-left: none;

        outline: none;
        background-color: black; 
    }
    
    #name{

        width: 340px;
        height: 45px;
        background-color: #282626bd;
        /* padding: 11px; */
        font-size: 16px;
        border: 1px solid #80808026;
        }

        #mail{
           width: 340px;
            height: 45px;
            background-color: #282626bd;
            /* padding: 11px; */
            font-size: 16px;
            border: 1px solid #80808026;
            margin-left: 30px;
            }
            #mail:focus{
                border-bottom: 1px solid blue;
                border-top: none;
                border-right: none;
                border-left: none;
       
               outline: none;
               background-color: black; 
           }
        
            #num{
                width: 340px;
                 height: 45px;
                 background-color: #282626bd;
                 /* padding: 11px; */
                 font-size: 16px;
                 border: 1px solid #80808026;
                 margin-left: 30px;
                 }

                 #num:focus{
                    border-bottom: 1px solid blue;
                    border-top: none;
                    border-right: none;
                    border-left: none;
                outline: none;
                   background-color: black; 
               }
             
                 #msg{
                    width: 1101px;
                    margin-top: 46px;
                    height: 170px;
                    background-color: #282626bd;
                    /* padding: 11px; */
                    text-align: top;
                    font-size: 16px;
                    border: 1px solid #80808026;
                }
                #msg:focus{
                    border-bottom: 1px solid blue;
                    border-top: none;
                    border-right: none;
                    border-left: none;
           
                   outline: none;
                   background-color: black; 
               }

                .message{
                    margin-left: -130px;
                }

                button{
                    font-size: 16px;
                    border: 1px solid #ffffff2b;
                    background-color: #282626bd;
                    width: 209px;
                    padding: 20px;
                    border-radius: 50px;
                    color: white;
                    font-family: sans-serif;
                    display: inline-block;
                    margin-top: 50px;
                    margin-left: -116px;
                    cursor: pointer;
        }
        button:hover{
            background-color: #474fee;
            color: white;
            border: none;}
             
            .bottom {
                width: 100vw;
                height: 126px;
                margin-top: 190px;
                background-color: #282626bd;
                position: absolute;
                display: inline-block;
                margin-left: -377px;
                color: white;
            }

        li:hover{color:blue;
            text-decoration: none;
        font-weight: lighter;}


        .first {
            display: inline-block;
            margin-left: 16em;
            font-family: sans-serif;
            font-size :18px; }


        .second {
    display: inline-block;
    margin-left: 19em;
    margin-top: 30px;
}
        .second i{
            width: 25px;
            height: 21px;
            border-radius: 50%;
            background-color: blue;
            color: white;
            padding: 12px;
            text-align: center;
    
            font-size: 20px;
        }


        


        /**media**/


@media screen and  (max-width: 1024px){

    section{
        display: flex;
        justify-content: center;
    }


    .title span {
        -webkit-text-stroke-color: #fff;
        position: absolute;
        font-size: 170px;
        font-weight: 900;
        opacity: .1;
        font-family: sans-serif;
        -webkit-text-stroke-width: 1px;
        left: 5%
    }
    
    .text{
        color: white;
        font-size: 3em;
        position: relative;
        right: 4%;
        font-family: sans-serif;
    }
    
        .title{
            position: absolute;
        top: 20px;
        top: 30%;
        left: 15%;
        }
    
        p{
            color: rgba(255, 255, 255, 0.726);
            font-size: 18px; 
            font-weight: lighter;
            font-family: sans-serif;
            display: block;
            margin-top: 40px;
            line-height: 33px;
            width: 600px;
        }
        .box{
            display: flex;
            margin-top: 100px;  
            margin-left: -94px;
        }
        .square{
            width: 294px;
    height: 209px;
            border: 1px solid #9e9e9e66;
            margin: 20px;
            background-color:black;
        }
        
         
    .detail{
        margin-left: -86px;
        margin-top: 50px;
    }


    #name {
        width: 295px;
        height: 45px;
        background-color: #282626bd;
        /* padding: 11px; */
        font-size: 16px;
        border: 1px solid #80808026;
    }

        #mail{
            width: 295px;
            height: 45px;
            background-color: #282626bd;
            /* padding: 11px; */
            font-size: 16px;
            border: 1px solid #80808026;
            margin-left: 30px;
            }
        
            #num{
                width: 295px;
                height: 45px;
                 background-color: #282626bd;
                 /* padding: 11px; */
                 font-size: 16px;
                 border: 1px solid #80808026;
                 margin-left: 30px;
                 }
             
                 #msg{
                    width: 966px;
                    margin-top: 46px;
                    height: 170px;
                    background-color: #282626bd;
                    /* padding: 11px; */
                    text-align: top;
                    font-size: 16px;
                    border: 1px solid #80808026;
                }

                .message{
                    margin-left: -85px;
                }

                button{
                    font-size: 16px;
                    border: 1px solid #ffffff2b;
                    background-color: #282626bd;
                    width: 209px;
                    padding: 20px;
                    border-radius: 50px;
                    color: white;
                    font-family: sans-serif;
                    display: inline-block;
                    margin-top: 50px;
                    margin-left: -82px;
        }

        .bottom{
            width: 160%;
            height: 126px;
            margin-top: 190px;
            background-color: #282626bd;
            position: absolute;
            display: inline-block;
            margin-left: -300px;
        
            color: white;
            
        }

        .first{
            display: inline-block;
            margin-left: 4em;
            font-family: sans-serif;
            font-size: 18px;
            margin-top: 30px;
        }     

        .second {
            display: inline-block;
            margin-left: 16em;
            margin-top: -40px;
        }
  .second i{
      width: 20px;
      height: 18px;
      border-radius: 50%;
      background-color: blue;
      color: white;
      padding: 12px;
      text-align: center;

      font-size: 15px;
  }
}
@media screen and  (max-width: 768px){

    .image {
        margin-top: -20px;
        width: 100px;
        height: 20px;
        display: inline-block;
        margin-left: 17px;
        /* margin-right: 180px; */
    }
    nav {
        width: 100%;
        display: flex;
        /* justify-content: center; */
        justify-content: center;
        margin-top: 30px;
        margin-left: 333px;
    }
    .detail {
        margin-left: -31px;
        margin-top: 50px;
    }
    
    .message {
        margin-left: -27px;
    }
    .box {
        display: flex;
        margin-top: 100px;
        margin-left: -32px;
    }
    .square {
        width: 294px;
        height: 209px;
        border: 1px solid #9e9e9e66;
        margin: 14px;
        background-color: black;
    }
    button {
        font-size: 16px;
        border: 1px solid #ffffff2b;
        background-color: #282626bd;
        width: 209px;
        padding: 20px;
        border-radius: 50px;
        color: white;
        font-family: sans-serif;
        display: inline-block;
        margin-top: 50px;
        margin-left: -32px;
    }
    .icon {
        display: inline-block;
        /* margin-left: 105px; */
        display: flex;
    }

    #name {
        width: 273px;
        height: 45px;
        background-color: #282626bd;
        /* padding: 11px; */
        font-size: 16px;
        border: 1px solid #80808026;
    }
    #msg {
        width: 935px;
        margin-top: 46px;
        height: 176px;
        background-color: #282626bd;
        /* padding: 11px; */
        text-align: top;
        font-size: 16px;
        border: 1px solid #80808026;
    }


}


@media screen and  (max-width: 425px){
    section {
        display: flex;
        /* justify-content: center; */
        margin-left: -189px;
    }
    nav {
        margin-left: 191px;
        display: flex;
        margin-top: 30px;
        flex-direction: column;
    }

.icon{
    display: none;
}
.image {
    margin-top: -12px;
    height: 20px;
    display: inline-block;
    margin-right: 60px;
}
li {
    display: none;
}
.menu {
    padding: 10px;
    color: white;
    font-size: 18px;
    border: 1px solid #d0b3b35c;
    background-color: #d0b3b35c;
    display: inline-block;
    cursor: pointer;
    width: 90px;
    margin-top: -10px;
    margin-left: 184px;
    cursor: pointer;
}
.menu:hover ~ .menu-bar  {
        
    width: 100%;
     height: 250px;
    background-color: #1b1b1d;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    z-index: 13;
    justify-content: center;
    line-height: 41px;
    margin-bottom: 30px;
}
.title {
    position: absolute;
    top: 20px;
    top: 24%;
    left: 17%;
    text-align: center;
}

.text {
    color: white;
    font-size: 2em;
    position: relative;
    right: 21%;
    font-family: sans-serif;
}
p {
    color: rgba(255, 255, 255, 0.726);
    font-size: 11px;
    font-weight: lighter;
    font-family: sans-serif;
    display: contents;
    margin-top: 6px;
    line-height: 29px;
    /* width: 248px; */
}
.title span {
    -webkit-text-stroke-color: #fff;
    position: absolute;
    font-size: 69px;
    font-weight: 900;
    opacity: .1;
    font-family: sans-serif;
    -webkit-text-stroke-width: 1px;
    left: -18%;
    top: 0%;
}

.box {
    display: flex;
    flex-direction: column;
    margin-top: 39px;
    margin-left: -52px;
}
.square {
    width: 272px;
    height: 195px;
    border: 1px solid #9e9e9e66;
    margin: 7px;
    background-color: black;

}

.square h1 {
    color: white;
    margin: 20px;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}

.square i {
    font-size: 31px;
    width: 62px;
    height: 57px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    background: #1b1b1bd4;
    color: #0a27c9e0;
    margin: 13px;
    margin-left: 106px;
}

.square p {
    margin-top: -8px;
    text-align: center;
    margin-left: -19px;
    font-size: 1em;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.726);
    text-align: center;
}

h2 {
    margin-left: 8px;
    font-family: sans-serif;
    color: white;
    font-size: 28px;
    text-decoration: 7px underline;
    text-decoration-color: blue;
}

.detail {
    margin-left: -48px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
#name {
    width: 275px;
    height: 48px;
    background-color: #282626bd;
    /* padding: 11px; */
    font-size: 26px;
    border: 1px solid #80808026;
}

#mail {    width: 275px;
    height: 48px;
    background-color: #282626bd;
    /* padding: 11px; */
    font-size: 26px;
    border: 1px solid #80808026;
    margin-left: 0px;
    margin-top: 30px;
}

#num {   width: 275px;
    height: 48px;
    background-color: #282626bd;
    /* padding: 11px; */
    font-size: 26px;
    border: 1px solid #80808026;
    margin-left: 0px;
    margin-top: 30px;
}

#msg {
    width: 274px;
    width: 300;
    margin-top: 20px;
    height: 189px;
    background-color: #282626bd;
    /* padding: 11px; */
    text-align: top;
    font-size: 26px;
    border: 1px solid #80808026;
}

.message {
    margin-left: -45px;
}

button {
    font-size: 21px;
    border: 1px solid #ffffff2b;
    background-color: #282626bd;
    width: 264px;
    padding: 32px;
    border-radius: 50px;
    color: white;
    font-family: sans-serif;
    display: inline-block;
    margin-top: 50px;
    margin-left: 159px;
}

button{
    font-size: 17px;
    border: 1px solid #ffffff2b;
    background-color: #282626bd;
    width: 180px;
    padding: 12px;
    border-radius: 50px;
    color: white;
    font-family: sans-serif;
    display: inline-block;
    margin-top: 50px;
    margin-left: 14px;
cursor: pointer;
}

 
.bottom {
    width: 143%;
    height: 179px;
    margin-top: 190px;
    background-color: #282626bd;
    position: absolute;
    display: inline-block;
    margin-left: -280px;
    color: white;
    text-align: center;
}
.first {
    margin-left: -47px;
    /* display: inline-block; */
    display: block;
    bottom: 10px;
    font-size: 15px;
}

.second {
    display: block;
    margin-left: 1px;
    margin-top: 30px;

}
.second i {
    width: 20px;
    height: 18px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    padding: 12px;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

}
@media screen and  (max-width: 320px){

.box {
    display: flex;
    flex-direction: column;
    margin-top: 39px;
    margin-left: -36px;
}
.square {
    width: 242px;
    height: 195px;
    border: 1px solid #9e9e9e66;
    margin: 7px;
    background-color: black;
}
.square i {
    font-size: 31px;
    width: 62px;
    height: 57px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    background: #1b1b1bd4;
    color: #0a27c9e0;
    margin: 13px;
    margin-left: 10px;
}
h2 {
    margin-left: -46px;
    font-family: sans-serif;
    color: white;
    font-size: 28px;
    text-decoration: 7px underline;
    text-decoration-color: blue;
}
#name {
    width: 234px;
    height: 48px;
    background-color: #282626bd;
    /* padding: 11px; */
    font-size: 26px;
    border: 1px solid #80808026;
}
.detail {
    margin-left: -23px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
#mail {
    width: 235px;
    height: 48px;
    background-color: #282626bd;
    /* padding: 11px; */
    font-size: 26px;
    border: 1px solid #80808026;
    margin-left: 0px;
    margin-top: 30px;
}
#num {
    width: 235px;
    height: 48px;
    background-color: #282626bd;
    /* padding: 11px; */
    font-size: 26px;
    border: 1px solid #80808026;
    margin-left: 0px;
    margin-top: 30px;
}
#msg {
    width: 230px;
    width: 300;
    margin-top: 20px;
    height: 189px;
    background-color: #282626bd;
    /* padding: 11px; */
    text-align: top;
    font-size: 26px;
    border: 1px solid #80808026;
}
.message {
    margin-left: -57px;
}
button {
    font-size: 17px;
    border: 1px solid #ffffff2b;
    background-color: #282626bd;
    width: 180px;
    padding: 12px;
    border-radius: 50px;
    color: white;
    font-family: sans-serif;
    display: inline-block;
    margin-top: 50px;
    margin-left: -50px;
    cursor: pointer;
}
.bottom {
    width: 143%;
    height: 179px;
    margin-top: 190px;
    background-color: #282626bd;
    position: absolute;
    display: inline-block;
    margin-left: -246px;
    color: white;
    text-align: center;
    font-size: 16px;
}
}