body{
    margin: 0;
    background-color: black;
    height: 100vh;
    width: 100vw;
}
nav{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.menu{
    display: none;
}
.menu-bar{
     display: none;}
li{
font-family: system-ui;
color: white;
list-style-type: none;
display: inline-block;
margin-right: 30px;
font-size: 18px;
font-weight: 500;
cursor: pointer;
}
.icon{
display: inline-block;
margin-left: 100px;
}

.image{
    margin-top: -20px;
    width: 100px;
    height: 20px;
    display: inline-block;
    margin-right: 120px;
}

li:hover{color:blue;
    text-decoration: none;
font-weight: lighter;}

.title span {
    -webkit-text-stroke-color: #fff;
    position: absolute;
    font-size: 175px;
    font-weight: 900;
    opacity: .1;
    font-family: sans-serif;
    -webkit-text-stroke-width: 1px;
    left: 10%;
    top: -10%;
}
.text {
    color: white;
    font-size: 2.2em;
    position: relative;
    /* left: -49%; */
    right: 10%;
    font-family: system-ui;
    font-weight: 700;
}
    .title{
        position: absolute;
    top: 20px;
    top: 22%;
    left: 25%;
    }
    p {
        /* color: rgb(255 255 255 / 66%); */
        font-size: 16px;
        /* font-weight: lighter; */
        font-family: inherit;
        display: block;
        margin-top: 32px;
        line-height: 27px;
        width: 600px;
        color: #ffffffb8;
    }
main{
    display: flex;
    justify-content: center;
    margin-top: 351px;
    margin-left: 120px;
    width: 100%;
}
.pic{
    margin-top: 30px;
    transition: .5s all;
    cursor: pointer;
}

.pic:hover{background-color: black;
    opacity: 0.4;

}
.pic img{
width: 350px;
border-radius: 10px;
cursor: pointer;
transition: .1s all;}
.pic img:hover{
 margin-top: -20px;
 transition: .1s all;
   
}
section{
display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:30%;
}

.content h2{
    color: white;
    font-family: sans-serif;
    cursor: pointer;
}

.content h2:hover{
    color:rgba(30, 30, 226, 0.87);
    font-family: sans-serif;
}
.content p{font-family: sans-serif;
    margin-top: 15px;
    display: contents;
}
/**media query**/

@media screen and  (max-width:1337px){

    .pic img{
        width: 320px;
        border-radius: 10px;
        cursor: pointer;
        transition: .5s all;}

        .menu{
            display: none;
        }
        main{
            display: flex;
            justify-content: center;
            margin-top: 351px;
            
            margin-left: 80px;
        }

        section{
            display: flex;
                flex-direction: column;
                justify-content: space-around;
                width: 33%;
            }

            main{
                display: flex;
                justify-content: center;
                margin-top: 351px;
                margin-left: 75px;
                width: 100%;
            }

            
}

@media screen and  (max-width:1025px){


.title span {
    -webkit-text-stroke-color: #fff;
    position: absolute;
    font-size: 146px;
    font-weight: 900;
    opacity: .1;
    font-family: sans-serif;
    -webkit-text-stroke-width: 1px;
    left: 3%;
    top: -10%;
}
.menu{
    display: none;
}

.pic img {
    width: 280px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s all;
}
main{
    display: flex;
    justify-content: center;
    margin-top: 351px;
    width: 100%;
    margin-left: 50px;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 111px;
}

.image {
    margin-top: -20px;
    width: 100px;
    height: 20px;
    display: inline-block;
    margin-right: 109px;
}
.icon {
    display: inline-block;
    margin-left: 43px;
}

}


@media screen and  (max-width:865px){

    nav {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-left: 50px;
    }
    .menu{
        display: none;
    }
    li {
        font-family: system-ui;
        color: white;
        list-style-type: none;
        display: inline-block;
        margin-right: 22px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
    }
    .pic img {
        width: 228px;
        border-radius: 10px;
        cursor: pointer;
    }
    .title span {
        -webkit-text-stroke-color: #fff;
        position: absolute;
        font-size: 110px;
        font-weight: 900;
        opacity: .1;
        font-family: sans-serif;
        -webkit-text-stroke-width: 1px;
        left: 3%;
        top: 10%;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 33%;
    }

    .image {
        margin-top: -20px;
        width: 100px;
        height: 20px;
        display: inline-block;
        margin-right: 66px;
    }
    main {
        display: flex;
        justify-content: center;
        margin-top: 351px;
        margin-left: 45px;
        width: 100%;
    }
}


@media screen and  (max-width:730px){

    main {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 336px;
        flex-wrap: wrap;
        margin-left: 57px;
    }
    .menu{
        display: none;
    }

    section {
        display: flex;
        flex-direction: column;
        width: 50%;
        overflow: hidden;
    }



    .pic img {
        width: 280px;
        border-radius: 10px;
        cursor: pointer;
    }

    .section3 {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow: hidden;
    }

.section3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    margin-left: -30px;
}
.image {
    margin-top: -20px;

    height: 20px;
    display: inline-block;
    margin-right: 37px;
}
nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 23px;
}
.icon {
    display: inline-block;
    margin-left: 21px;
    font-size: 20px;
}
li {
    font-family: system-ui;
    color: white;
    list-style-type: none;
    display: inline-block;
    margin-right: 13px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

}


@media screen and  (max-width:560px){


    .menu {
        padding: 10px;
        color: white;
        font-size: 20px;
        border: 1px solid #d0b3b35c;
        background-color: #d0b3b35c;
        width: 98px;
        margin-left: 284px;
        margin-top: -10px;
        display: inline-block;
        cursor: pointer;
            transition: all 0.3s ease-out 0s;
    }
    .menu:hover ~ .menu-bar  {
        width: 100%;
            padding: 2em;
            height: 250px;
            margin-left: -40px;
            background-color: #1b1b1d;
            color: white;
            text-align: center;
            font-family: sans-serif;
            font-size: 20px;
            display: flex;
            z-index: 13;
            justify-content: center;
            line-height: 41px;
            margin-bottom: 30px;
        }


li{
    display: none;
}
nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 53px;
    flex-direction: column;
}


.title span {
    -webkit-text-stroke-color: #fff;
    position: absolute;
    font-size: 80px;
    font-weight: 900;
    opacity: .1;
    font-family: sans-serif;
    -webkit-text-stroke-width: 1px;
    left: 1%;
    top: 5%;
}

p {
    /* color: rgb(255 255 255 / 66%); */
    font-size: 16px;
    /* font-weight: lighter; */
    font-family: inherit;
    display: contents;
    margin-top: 5px;
    line-height: 7px;
    color: #ffffffb8;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 336px;
    flex-wrap: wrap;

}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;


}
.pic img {
    width: 400px;
}
.section3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}
.image{
    margin-top: -13px;
    height: 20px;
    display: inline-block;
    margin-right: 123px;
}



}

@media screen and  (max-width:320px){

.pic img {
    width: 300px;
}
.menu {
    padding: 10px;
    color: white;
    font-size: 20px;
    border: 1px solid #d0b3b35c;
    background-color: #d0b3b35c;
    width: 98px;
    margin-left: 200px;
    margin-top: -10px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease-out 0s;
}
.menu:hover ~ .menu-bar {
    width: 134%;
    padding: 2em;
    height: 250px;
    margin-left: -40px;
    background-color: #1b1b1d;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    display: flex;
    z-index: 13;
    justify-content: center;
    line-height: 41px;
    margin-bottom: 30px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 386px;
    flex-wrap: wrap;
}
}